$font-helvetica: 'Helvetica';
$main-font: $font-helvetica;
$color-blue: #21a0ef;
$color-purple: #a95cf2;
$screen-xl: 1800px;
$screen-xl-min: $screen-xl;
$screen-xl-max: ($screen-xl - 1);
$screen-mp: 1600px;
$screen-mp-min: $screen-mp;
$screen-mp-max: ($screen-mp - 1);
$screen-lg: 1300px;
$screen-lg-min: $screen-lg;
$screen-lg-max: ($screen-lg - 1);
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-md-max: ($screen-md - 1);
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-sm-max: ($screen-sm - 1);
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-xs-max: ($screen-xs - 1);
$screen-us: 375px;
$screen-us-min: $screen-us;
$screen-us-max: ($screen-us - 1);


